/* src/components/Sidebar.css */
.sidebar {
    background-color: #89b2de;
    width: 180px;
    padding: 20px;
    height: 80vh;
  }
  
  .btn {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    /* margin-right: 10px; */
    padding: 10px;
    border: none;
    font-weight: bold;

    
    
    /* padding: 10px 15px; */
    
    text-align: center;
    text-decoration: none; /* Loại bỏ gạch chân */
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pink {
    background-color: hotpink;
  }
  
  .cyan {
    background-color: aqua;
  }
  